{% extends "base.html" %}

{% block title %}
    Signup
{% endblock title %}
{% block content %}
    <main>
        <div class="signup-grid">
            <div>1</div>
            <div>
            <h1 class="signup-h1">Signup</h1>
            <form class="signup-form" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="base-nav-button">Submit</button>
            </form>
            </div>
            <div>3</div>
        </div>
    </main>
{% endblock content %}
