{% extends "base.html" %}

{% block title %}
    My Projects
{% endblock title %}
{% block content %}
    <main>
        <div class="list-project-div">
        <div>1</div>
        <div>
            <h1 class="list-project-h1">My Projects</h1>
            {% if projects %}
                <table class="list-project-table">
                    <thead>
                        <tr>
                            <th class="list-project-th">Name</th>
                            <th class="list-project-th">Number of tasks</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in projects %}
                            <tr>
                                <td class="list-project-td">
                                    <a class="list-project-a" href="{% url 'show_project' project.id %}">{{ project.name }}</a>
                                </td>
                                <td class="list-project-td-length">{{ project.tasks.all|length }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You are not assigned to any projects</p>
            {% endif %}
            <p class="list-project-p"><br><br><br>
                <button class="base-nav-button"><a href="{% url 'create_project' %}">Create A New Project</a></button>
            </p>
        </div>
        <div>3</div>
        </div>
    </main>
{% endblock content %}
